<!DOCTYPE html>
<html>
  <head>
    <title>Iqtest2 APIs</title>
  </head>
  <style>
    body {
      background-color: rgb(133, 218, 189);
    }
    .container {
      width: 80%;
      margin: auto;
    }
    p {
      font-size: 20px;
    }
  </style>
  <body>
    <div class="container">
      <h1>IQTEST2 APIs HERE</h1>
      <h3>Question:</h3>
      <p>
        Revie is a hypothetical platform where users can sign up with their
        basic information and post reviews about apartments they've previously
        lived in. These reviews can include optional videos and/or images. The
        users can give reviews about the landlords, the environment the
        apartment is situated, and the quality of amenities in the apartment.
        These reviews can be uniquely marked as helpful by random visitors of
        the platform. Visitors can also sort these reviews based on the most
        helpful(by count) or most recent. Draft a possible schema for this use
        case. Draft an API use case document showing possible endpoints and the
        corresponding methods (get, post, etc) and responses(JSON format). Build
        a Rest API for this problem using one or both of Laravel and NodeJs.
        Deploy the API to any server of choice. Share links to the API,
        documentation, and Github repository.
      </p>
      <h3>Solution</h3>
      <h3>Method: Post</h3>
      <p>Signup : https://iqtest2.herokuapp.com/signup</p>
      <p>Login : https://iqtest2.herokuapp.com/signup</p>
      <p>Post Review : https://iqtest2.herokuapp.com/signup</p>

      <h3>Method: Get</h3>
      <p>Mark Review : https://iqtest2.herokuapp.com/signup</p>
      <p>Sort Review : https://iqtest2.herokuapp.com/signup</p>
    </div>
  </body>
</html>
